@import url("./reset.css");
@import url("./10000hours.css");

/* common */
* {
  font-family: "GmarketSansMedium";
  color: inherit;
  box-sizing: border-box;
}
body {
  background-color: #5b2386;
}
.ir {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

/* btn 공통 스타일로 */

.btn {
  display: inline-block;
  color: #5b2386;
  text-align: center;
  font-size: 24px;
  line-height: 1;
  padding: 21px 49px;
  border-radius: 56px;
  background-color: #fcee21;
  cursor: pointer;
  font-weight: 700;
  border: none;
}

/* HEADER */

/* img에 가상요소 after 잘 안먹었는데 왜일까?*/

.main-header {
  position: relative;
  height: 431px;
  text-align: center;
}

.main-title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 20%;
  left: 40%;
  background-image: url("../img/clock.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  width: 221.6px;
  height: 225px;
}

.logo-img {
  width: 564px;
  height: 112px;
  margin-top: 194px;
}

/* SUMMARY */

.summary-wrapper {
  text-align: center;
}

/* figma보다 굵게 나오는 느낌..*/
.summary-quote {
  font-family: "OTEnjoystoriesBA";
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  color: #f5df4d;
}

.summary-item {
  position: relative;
  margin-top: 78px;
  font-size: 18px;
  line-height: 1.5;
}
.summary-item::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 25%;
  display: block;
  background-image: url("../img/quotes.png");
  background-repeat: no-repeat;
  width: 493px;
  height: 96px;
  z-index: -1;
}

.summary-item strong {
  font-size: 24px;
  font-weight: 800;
}

/* CALCULATION */

.calculation {
  font-size: 24px;
}

.calcu-wrapper {
  position: relative;
  margin-top: 102px;
}

.input-wrapper input {
  color: #000;
  font-size: 24px;
  text-align: center;
  width: 228px;
  height: 57px;
  border-radius: 7px;
  border: none;
  margin-left: 17px;
  margin-right: 17px;
}

.input-wrapper input:first-child {
  margin-bottom: 27px;
}

.input-wrapper input[placeholder] {
  color: #000;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus {
  outline: none;
}

.calcu {
  position: relative;
  margin-top: 115px;
}

.calcu::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  right: -65px;
  background-image: url(../img/click.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 64px;
  height: 72px;
  cursor: default;
}

/* RESULT */

.result {
  margin-top: 147px;
}
/* 
.result span {
  padding-top: 24px;
  padding-bottom: 24px;
} */
/* .result-box {
  margin: 0 auto;
  width: 663px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
} */

.result-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result strong {
  font-size: 72px;
  margin-left: 12px;
  margin-right: 12px;
  font-weight: 700;
}

/* btn-result 네이밍바꿀까>>  */

.btn-result {
  margin-top: 127px;
}

.share {
  color: #5b2386;
  background-color: #fff;
  margin-left: 18px;
}

/* FOOTER */

#footer {
  margin-top: 130px;
  height: 150px;
  text-align: center;
}

#footer small {
  margin-top: 20px;
  display: block;
  font-size: 12px;
  line-height: 17.38px;
}

/* 모달창 */
.modal {
  width: 800px;
  height: 800px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.modal-wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 76px 0 68px 0;
}

.modal-txt {
  font-family: "OTEnjoystoriesBA";
  color: #5b2386;
  font-weight: 700;
  margin-bottom: 29px;
}

.modal-txt h2 {
  font-size: 72px;
  line-height: 106px;
}

.modal-txt p {
  font-size: 36px;
  line-height: 40px;
}

.close {
  margin-top: 74px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
