@import url("./reset.css");
@import url("./10000hours.css");

/* common */

* {
  box-sizing: border-box;
  font-family: "GmarketSansMedium";
  color: inherit;
  text-decoration: none;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #5b2386;
}

.ir {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

/* btn 공통 스타일로 */

.btn {
  display: inline-block;
  padding: 21px 49px;
  border: none;
  border-radius: 56px;
  background-color: #fcee21;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #5b2386;
  text-align: center;
  cursor: pointer;
}

/* HEADER */

#header {
  position: relative;
  height: 431px;
  text-align: center;
}

.main-title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 20%;
  left: 40%;
  z-index: -1;
  width: 221.6px;
  height: 225px;
  background-image: url("../img/clock.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-img {
  width: 564px;
  height: 112px;
  margin-top: 194px;
}

/* SUMMARY */

.summary-wrapper {
  text-align: center;
}

/* figma보다 굵게 나오는 느낌..*/
.summary-quote {
  font-family: "OTEnjoystoriesBA";
  font-style: normal;
  font-size: 36px;
  color: #f5df4d;
  line-height: 40px;
}

.summary-item {
  position: relative;
  margin-top: 78px;
  font-size: 18px;
  line-height: 1.5;
}

.summary-item::after {
  content: "";
  display: block;
  position: absolute;
  top: 20%;
  left: 25%;
  z-index: -1;
  width: 493px;
  height: 96px;
  background-image: url("../img/quotes.png");
  background-repeat: no-repeat;
}

.summary-item strong {
  font-size: 24px;
  font-weight: 800;
}

/* CALCULATION */

.calculation {
  font-size: 24px;
}

.calcu-wrapper {
  position: relative;
  margin-top: 102px;
}

.input-wrapper input {
  width: 228px;
  height: 57px;
  margin-left: 17px;
  margin-right: 17px;
  border: none;
  border-radius: 7px;
  color: #000;
  font-size: 24px;
  text-align: center;
}

.input-wrapper input:first-child {
  margin-bottom: 27px;
}

.input-wrapper input[placeholder] {
  color: #000;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus {
  outline: none;
}

.calcu {
  position: relative;
  margin-top: 115px;
}

.calcu::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  right: -65px;
  width: 64px;
  height: 72px;
  background-image: url(../img/click.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: default;
}

/* RESULT */

.result {
  margin-top: 147px;
}

.result-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result strong {
  margin-left: 12px;
  margin-right: 12px;
  font-size: 72px;
  font-weight: 700;
}

/* btn-result 네이밍 변경 고민 */

.btn-result {
  margin-top: 127px;
}

.share {
  margin-left: 18px;
  background-color: #fff;
  color: #5b2386;
}

/* FOOTER */

#footer {
  height: 150px;
  margin-top: 130px;
  text-align: center;
}

#footer small {
  display: block;
  margin-top: 20px;
  font-size: 12px;
  line-height: 17.38px;
}

/* MODAL */

#modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 800px;
  height: 800px;
  margin: auto;
  background-color: transparent;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 9999px;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
}

.modal-wrapper {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  padding: 76px 0 68px 0;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.modal-txt {
  font-family: "OTEnjoystoriesBA";
  color: #5b2386;
  font-weight: 700;
  margin-bottom: 29px;
}

.modal-txt h2 {
  font-size: 72px;
  line-height: 106px;
}

.modal-txt p {
  font-size: 36px;
  line-height: 40px;
}

.close {
  margin-top: 74px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none;
}

/* MODAL - animation */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
